<div id="fitness-add-widget{_ id _}" class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">
            Add FIT File
        </h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove" ng-click="removeWidget(id)"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body">
        <form id="{_ id _}-dropzone" class="dropzone" dropzone="">
            <div id="{_ id _}-dropzone-default" class="dz-default dz-message">
                <i class="fa fa-cloud-upload fa-5x"></i>
                <p class="text-center">
                    Drag a FIT File from your desktop into this area and drop it to upload it.
                </p>
            </div>
        </form>
    </div>
</div>